<div class='row'>
  <div class='column small-12 medium-8 medium-offset-2 large-6 large-offset 4'>
    <ul class="tabs" data-tabs id="example-tabs">
      <li class="tabs-title is-active"><a href="#panel1" aria-selected="true">Student</a></li>
      <li class="tabs-title"><a href="#panel2">Teacher</a></li>
    </ul>
    <div class='tabs-content' data-tabs-content="example-tabs">
      <div class="tabs-panel is-active" id='panel1'>
        <p>
          <div class='signup-panel'>
            <p class='welcome'>Student Login</p>
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class='row collapse'>
              <div class='small-2 columns'>
                <span class='prefix'>
                  <i class='fi-mail'></i>
                </span>
              </div>
              <div class='small-10 columns'>
                <%= f.email_field :email,:placeholder => 'Email', autofocus: true %>
              </div>
            </div>
            <div class='row collapse'>
                <div class='small-2 columns'>
                  <span class='prefix'>
                    <i class='fi-lock'></i>
                  </span>
                </div>
                <div class='small-10 columns'>
                  <%= f.password_field :password,:placeholder => 'Password', autocomplete: "off" %>
                </div>
              </div>
              <% if devise_mapping.rememberable? -%>
                  <%= f.check_box :remember_me %>
                  <label for="user-remember-me">Remember me?</label>
              <% end -%>

              <div class="actions">
                <%= f.submit "Log in", :class => 'button' %>
              </div>
              <% end %>

            <p class="text-center"><%= link_to 'Forgot your password', new_user_password_path %></p>
          </div>
        </p>
      </div>
      <div class="tabs-panel" id='panel2'>
        <p>
          <div class='signup-panel'>
            <p class='welcome'>Teacher Login</p>
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class='row collapse'>
              <div class='small-2 columns'>
                <span class='prefix'>
                  <i class='fi-mail'></i>
                </span>
              </div>
              <div class='small-10 columns'>
                <%= f.email_field :email,:placeholder => 'Email', autofocus: true %>
              </div>
            </div>
            <div class='row collapse'>
                <div class='small-2 columns'>
                  <span class='prefix'>
                    <i class='fi-lock'></i>
                  </span>
                </div>
                <div class='small-10 columns'>
                  <%= f.password_field :password,:placeholder => 'Password', autocomplete: "off" %>
                </div>
              </div>
              <% if devise_mapping.rememberable? -%>
                  <%= f.check_box :remember_me %>
                  <label for="user-remember-me">Remember me?</label>
              <% end -%>

              <div class="actions">
                <%= f.submit "Log in", :class => 'button' %>
              </div>
            <% end %>
            <p class="text-center"><%= link_to 'Forgot your password', new_user_password_path %></p>
          </div>
        </p>
      </div>
    </div>
  </div>
</div>
