<div  style="padding:3px;border:3px solid grey;">
<%= form_for(@homework) do |f| %>
  <% if @homework.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@homework.errors.count, "error") %> prohibited this homework from being saved:</h2>

      <ul>
      <% @homework.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <div class="row">

    <div class="large-6 large-centered columns">
      <div class="large-6 columns">
        <%= f.label :subject %><br>
        <%= f.text_field :subject %>
      </div>
      <div class="large-6 columns">
        <%= f.label :subject %><br>
        <%= f.text_field :subject %>
      </div>
    </div>
  </div>



<div class="row">
  <div class="large-6 large-centered columns"><%= f.label :content %>
  <%= f.trix_editor :content %></div>
</div>

  <div class="field">
    <%= f.label :start_time %><br>
    <%= f.datetime_select :start_time %>
  </div>
  <div class="field">
    <%= f.label :end_time %><br>
    <%= f.datetime_select :end_time %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>
