<div class="row">
  <p id="notice"><%= notice %></p>

  <h2>
    <strong>Lesson:</strong>
    <%= @homework.lesson.lesson_code %>
  </h2>

  <h2>Subject: <%= @homework.subject %> </h2>

  <p>
    <strong>Content:</strong>
    <%= @homework.content %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= @homework.start_time.strftime("%Y/%m/%d")%>
  </p>

  <p>
    <strong>End time:</strong>
    <%= @homework.end_time.strftime("%Y/%m/%d") %>
  </p>


</div>
