<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Peyneith Homework System" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="top-bar">
      <div class="top-bar-title">
        <%= link_to image_tag("logo2.png"), root_path %>
      </div>
      <div id="responsive-menu">
        <div class="top-bar-left">
          <% if user_signed_in? %>
              <ul class="menu">
                <% if current_user.is_teacher == 1 %>
                <li><%= link_to "New Homework", new_homework_path, {:class => ' button  '} %></li>
                <% end %>
              </ul>
          <% end %>
        </div>
        <div class="top-bar-right">
          <ul class="menu">
            <% if  user_signed_in? %>
              <% if current_user.is_admin? %>
                <li><%= link_to "Admin Panel", rails_admin.dashboard_path, {:class => 'button alert'} %></li>
                <li>&nbsp;</li>
              <% end %>
              <li><%= link_to "My Profile", edit_user_registration_path(current_user), {:class => 'success button'} %></li>
              <li style="background-color: rgba(33, 153, 232, 0.44);">&nbsp;</li>
              <li><%= link_to "Log Out",destroy_user_session_path, {:class => 'alert button', :method => 'DELETE'} %></li>
            <% else %>
              <li><%= link_to "Sign In", new_user_session_path, {:class => 'button'} %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>

    <div class="row">
      <p id="notice"><%= notice %></p>

        <%= yield %>
        <br>

    </div>

    <footer class="footer">
      <div class="row column">
     <hr>
     <ul class="menu">
        <li>Peyneith Homework System</li>
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'About' %></li>
        <li><%= link_to 'Contact'%></li>
        <li class="float-right">Copyright 2016</li>
     </ul>
  </div>
  </footer>
  </body>
</html>
