<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="top-bar">
      <div class="top-bar-title">
        <%= link_to image_tag("logo.jpg"), root_path %>
      </div>
      <div id="responsive-menu">
        <div class="top-bar-left">
          <ul class="menu">
            <li><%= link_to "Homeworks", homeworks_path, {:class => 'hollow button  '} %></li>
            <li>&nbsp;</li>
            <li><%= link_to "Lessons", lessons_path, {:class => 'hollow button  '} %></li>
            <li>&nbsp;</li>
            <li><%= link_to "Students", students_path,  {:class => 'hollow button  '} %></li>
          </ul>
        </div>
        <div class="top-bar-right">
          <ul class="menu">
            <% if  user_signed_in? %>
              <% if current_user.is_admin? %>
                <li><%= link_to "Admin Panel", rails_admin.dashboard_path, {:class => 'button alert'} %></li>
                <li>&nbsp;</li>
              <% end %>
              <li><%= link_to "My Profile",edit_user_registration_path(current_user), {:class => 'button'} %></li>
              <li>&nbsp;</li>
              <li><%= link_to "Log Out",destroy_user_session_path, {:class => 'button', :method => 'DELETE'} %></li>
            <% else %>
              <li><%= link_to "Sign In", new_user_session_path, {:class => 'button'} %></li>
            <% end %>
            <li>&nbsp;</li>
          </ul>
        </div>
      </div>
    </div>

    <p id="notice"><%= notice %></p>
    <%= yield %>


    <footer class="footer">
    <div class="row">
      <div class="small-12 medium-6 medium-push-6 columns">
        <p class="logo show-for-small-only"><i class="fi-target"></i> Peyneith</p>
        <form class="footer-form">
          <div class="row">
            <div class="medium-9 medium-push-3 columns">
              <label>
                <label for="email" class="contact">Contact Us</label>
                <input type="email" id="email" placeholder="Email Address" />
              </label>
            </div>
          </div>
          <div class="row">
            <div class="medium-9 medium-push-3 columns">
              <label>
                <textarea rows="5" id="message" placeholder="Message"></textarea>
              </label>
            </div>
            <div class="row">
              <div class="medium-9 medium-push-3 columns">
                <button class="submit" type="submit" value="Submit">Send</button>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="small-12 medium-6 medium-pull-6 columns">
        <p class="logo hide-for-small-only"><i class="fi-target"></i> Peyneith</p>
        <p class="footer-links">
          <%= link_to "Home", root_path %>
          <%= link_to "Homeworks", homeworks_path %>
          <%= link_to  "Lessons", lessons_path %>
          <%= link_to "Students",students_path %>
        </p>
        <ul class="inline-list social">
          <a href="#"><i class="fi-social-facebook"></i></a>
          <a href="#"><i class="fi-social-twitter"></i></a>
          <a href="#"><i class="fi-social-linkedin"></i></a>
          <a href="#"><i class="fi-social-github"></i></a>
        </ul>
        <p class="copywrite">Copywrite not copywrite © 2015</p>
      </div>
    </div>
  </footer>
  </body>
</html>
